@page "/Account"
@using WellnessNavigator.Data.Models;
@using WellnessNavigator1.Data.Repositories;
@inject NavigationManager NavigationManager
@inject IAccountService AS;

<h3>Welcome, @Username</h3>
<h3>@userAccount.message</h3>

@code {
    private string Username { get; set; }
    UserAccount userAccount = new UserAccount();

    protected override void OnInitialized()
    {
        // Check if the Username query parameter is present in the URL.
        var uri = new Uri(NavigationManager.Uri);
        var queryString = System.Web.HttpUtility.ParseQueryString(uri.Query);
        Username = queryString["Username"];

        if (string.IsNullOrEmpty(Username))
        {
            NavigationManager.NavigateTo("/Login", true);
        }
        else
        {
            userAccount = AS.GetUserAccount(Username);
        }
    }
}
