@page "/"

<PageTitle>Index</PageTitle>

<h3 class="page-title">Welcome To Your Wellness Navigator!</h3>

<p>The services provided on this website are a journal and an AI therapeutic assistant</p>
<br />
<a class="body-text" href="/JournalPage">Navigate to the Journal page to view the current entries and to edit/add entries</a>
<br />
<a class="body-text" href="/TherapeuticTechniques">Navigate to the AI therapeutic assistant, where you can select a journal entry to receive advice and coping techniques for</a>
<br/>
<a class="body-text" href="/Login">Navigate to the account page to register an account</a>
