@inherits LayoutComponentBase

<PageTitle>Wellness Navigator</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
   
    <main style="overflow:hidden;">
        <div class="container">
            @Body
        </div>
            
        
    </main>
</div>
